//ticker animation
.item-rotate {
  animation: rotted 15s infinite ease-in-out;
  animation-direction: alternate;
}

@keyframes rotted {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(320deg);
  }
}

.item-zooming {
  -webkit-animation: zooming 5s infinite ease-in-out;
  -o-animation: zooming 5s infinite ease-in-out;
  -ms-animation: zooming 5s infinite ease-in-out;
  -moz-animation: zooming 5s infinite ease-in-out;
  animation: zooming 5s infinite ease-in-out;
}

@keyframes zooming {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.01);
  }

  100% {
    transform: scale(1);
  }
}

.item-bounce {
  -webkit-animation: bounce 3s infinite ease-in-out;
  -o-animation: bounce 3s infinite ease-in-out;
  -ms-animation: bounce 3s infinite ease-in-out;
  -moz-animation: bounce 3s infinite ease-in-out;
  animation: bounce 3s infinite ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-5px);
  }
}

.item-animateOne {
  -webkit-animation: animateOne 15s infinite ease-in-out;
  -o-animation: animateOne 15s infinite ease-in-out;
  -ms-animation: animateOne 15s infinite ease-in-out;
  -moz-animation: animateOne 15s infinite ease-in-out;
  animation: animateOne 15s infinite ease-in-out;
}

@-webkit-keyframes animateOne {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes animateOne {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.item-animateTwo {
  -webkit-animation: animateTwo 15s infinite ease-in-out;
  -o-animation: animateTwo 15s infinite ease-in-out;
  -ms-animation: animateTwo 15s infinite ease-in-out;
  -moz-animation: animateTwo 15s infinite ease-in-out;
  animation: animateTwo 15s infinite ease-in-out;
}

@-webkit-keyframes animateTwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes animateTwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(-50px, 50px);
    transform: translate(-50px, 50px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}


/* ripple animation */
@keyframes ripple {
  from {
    opacity: 1;
    transform: scale(0.8);
  }

  to {
    opacity: 0;
    transform: scale(1.5);
  }
}