.bg-class {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.overflow-hidden {
  overflow: hidden !important;
}

.bg-gray-300 {
  background-color: $text-color-300;
}
.fz-16 {
  font-size: 16px;
}
.fz-18 {
  font-size: 18px;
}

.line-height-160 {
  line-height: 160%;
}
.line-height-170 {
  line-height: 160%;
}
.gap-8 {
  gap: 8px !important;
}
.gap-16 {
  gap: 16px !important;
}
//  border radius
.border-radius-0 {
  border-radius: 0px !important;
}
.border-radius-8 {
  border-radius: 8px !important;
}
.cursor-pointer {
  cursor: pointer;
}
.w-311 {
  width: 311px;
  @include screen-1200 {
    width: 200px;
  }
}

.text-tertiary {
  color: $tertiary-color-900 !important;
}
.z-10 {
  z-index: 10;
}

.red-tooltip + .tooltip > .tooltip-inner {
  background-color: $primary-color-900;
}

.custom-spinner {
  display: inline-block;
  margin: 0 10px;
  width: 1rem;
  height: 1rem;
  border: 2px solid currentColor;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.slider-btn-wraper {
  display: flex;
  align-items: center;
  gap: 20px;
  .slider-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #f2fbf7;
    border: 1.2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $transition;
    @include screen-1440 {
      width: 60px;
      height: 60px;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    @include screen-992 {
      width: 40px;
      height: 40px;
    }
    i {
      font-size: 20px;
      color: $primary-color-900;
      @include screen-1440 {
        font-size: 16px;
      }
      @include screen-992 {
        font-size: 14px;
      }
    }
    svg {
      path {
        transition: $transition;
        fill: #9da5b3;
      }
    }

    &:hover {
      border-color: #9addbe;
      svg {
        path {
          transition: $transition;
          fill: $primary-color-900;
        }
      }
    }
  }
}
