h1,
h2 {
  font-weight: 700;
  line-height: 120%;
  color: $text-color-900;
}
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 130%;
  color: $text-color-900;
}

h1 {
  font-size: 64px;
  @include screen-1400 {
    font-size: 48px;
  }
  @include screen-768 {
    font-size: 40px;
  }
}
h2 {
  font-size: 48px;
  @include screen-1400 {
    font-size: 36px;
  }
}
h3 {
  font-size: 40px;
  line-height: 120%;
  @include screen-1400 {
    font-size: 32px;
  }

}
h4 {
  font-size: 32px;
  @include screen-1400 {
    font-size: 24px;
  }

}
h5 {
  font-size: 24px;
  @include screen-1400 {
    font-size: 20px;
  }
}
h6 {
  font-size: 20px;
  @include screen-1400 {
    font-size: 18px;
  }
}

p {
  font-size: 16px;
  line-height: 170%;
  font-weight: 400;
  @include screen-768 {
    font-size: 14px;
  }
}
