// Google Font
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap");

// Template Font Name
$template-font: "Jost", sans-serif;

// Template Color Name
$primary-color-1000: #028347;
$primary-color-900: #02a95c;
$primary-color-800: #35ba7d;
$primary-color-700: #67cb9d;
$primary-color-600: #9addbe;
$primary-color-500: #cceede;
$primary-color-400: #e6f6ef;
$primary-color-300: #f2fbf7;
$primary-color-200: #ffffff;

$secondary-color-1000: #D6000D;
$secondary-color-900: #ff4e59;
$secondary-color-400: #ff4e591a;

$tertiary-color-900: #FC791A;
$tertiary-color-800: #FD9448;

$text-color-900: #091e42;
$text-color-800: #3a4b68;
$text-color-700: #6b788e;
$text-color-600: #9da5b3;
$text-color-500: #ced2d9;
$text-color-400: #e6e8ec;
$text-color-300: #f3f4f6;
$text-color-200: #ffffff;

$bg-offwhite: #fdf9f0;

$white-color: #ffffff;
$black-color: #000000;
$yellow-color: #ffa11a;
$purple-color: #9747ff;

$about-fea-color1: #ffa11a1a;
$about-fea-color2: #02a95c1a;
$about-fea-color3: #ff4e591a;
$about-fea-color4: #9747ff1a;

// Border Color
$border-color: #e6e6e6;
$border-color-300: #e6e6eb;

// Transition
$transition: all 0.3s ease-in;
